/*Nav bar*/
.nav_bar {
  top: 0;
  left: 0;
  height: 50px;
  background: linear-gradient(#0042ad, black);
  position: absolute;
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}
.nav_links {
  text-decoration: none;
  width: 10%;
  text-align: center;
  margin: auto 0;
}
.nav_none {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.nav_none:hover {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 800;
}
body {
  margin-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}

/*Home page*/
.homePage {
  color: white;
  text-align: center;
  height: 800px;
  background-image: url('./images/background.jpg');
  background-size: contain;
  text-shadow: 2px 2px #0042ad;
  background-repeat: no-repeat;
}
.homeTitle {
  padding-top: 50px;
}
.homeTitle h1 {
  text-shadow: 5px 5px 10px #0042ad;
  font-size: 75px;
}
.homeButtons {
  width: 125px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid white;
  background: linear-gradient(#0042ad, black);
  box-shadow: 2px 2px black;
  color: white;
  font-size: 20px;
}
.homeButtons:hover {
  width: 125px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #0042ad;
  background: white;
  color: #0042ad;
  font-size: 20px;
}
