/*Nav bar*/
.nav_bar {
  top: 0;
  left: 0;
  height: 50px;
  background-color: #0042ad;
  position: fixed;
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}
.nav_links {
  /*margin: auto 35px;*/
  text-decoration: none;
  width: 12%;
  text-align: center;
  margin: auto 2px;
}
.nav_container {
  width: 40vw;
  display: flex;
}
.nav_none {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.nav_none:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
body {
  margin-top: 50px;
}

/*Home page*/
.homePage {
  color: white;
  text-align: center;
  height: 800px;
  background-image: url('./images/background.jpg');
  background-size: contain;
  opacity: 0.75;
  background-repeat: no-repeat;
}
.homeTitle {
  padding-top: 50px;
}
.homeTitle h1 {
  font-size: 50px;
}
.homeButtons button {
  width: 100px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid white;
  background: #0042ad;
  color: white;
}
