/*Nav bar*/
.nav_bar {
  top: 0;
  left: 0;
  height: 50px;
  background-color: blue;
  position: fixed;
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}
.nav_links {
  /*margin: auto 35px;*/
  text-decoration: none;
  width: 12%;
  text-align: center;
  margin: auto 2px;
}
.nav_container {
  width: 40vw;
  display: flex;
}
.nav_none {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.nav_none:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
body {
  margin-top: 50px;
}